#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.tech-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 6px;

  gap: 2.5em;
}

.guestbook {
  position: absolute;

  display: none;

  top: -2px;
  left: 7px;
  right: 0;
  bottom: 0;

  width: 70%;
  align-self: center;

  transition: all 0.2s ease-in-out;
}

.fab-container {
  position: fixed;
  right: 0;
  padding: 5px;

  z-index: 1;
}

.guestbook-btn {
  cursor: pointer;
  padding: 1em;

  outline: none;

  border: 2px solid #949393;

  border-radius: 8px;

  font-weight: bold;
  font-size: 16px;

  background-color: #5d5c66a6;
  backdrop-filter: blur(5px);

  transition: all 0.2s ease-in-out;
}

.guestbook-btn:hover {
  border: 2px solid #ffffff;

  /* box-shadow: 0 20px 80px -10px #e45c07; */
}

.guestbook-btn::before {
  content: '"Just call me maybe"';

  padding: 1em;

  width: 50px;
  height: 50px;
}

@media (max-width: 580px) {
  .guestbook {
    display: block;
  }

  .guestbook-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .guestbook-btn::before {
    content: "";
  }

  .fab-container {
    bottom: 6.5em;
  }
}
